@model CryptoAdapterModel

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Crypto Adapter</h4>
            <button type="button" class="close" onclick="closeCreateCryptoAdapterModal()">&times;</button>
        </div>

        <div class="modal-body">

            <form class="form-horizontal" id="form">
                <div class="card-body card-block">

                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label for="Direction" class="form-control-label">Direction</label>
                        </div>
                        <div class="col-12 col-md-8" id="directionRadioBtn">
                            <input type="radio" name="direction" value="1" checked>&nbsp;Source &nbsp;&nbsp;
                            <input type="radio" name="direction" value="2">&nbsp;Destination
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label for="NodeType" class="form-control-label">Node type</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <select asp-for="NodeType" asp-items="Html.GetEnumSelectList<CryptoAdapterType>()" class="form-control col-md-12"></select>
                            <span asp-validation-for="NodeType" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label for="text-input" class="form-control-label">Name</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input type="text" id="Name" asp-for="Name" name="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row form-group" id="RpcAddrDiv">
                        <div class="col col-md-4  pr-0">
                            <label for="text-input" class="form-control-label">Rpc Address</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input type="text" id="RpcAddr" asp-for="RpcAddr" name="RpcAddr" class="form-control">
                            <span asp-validation-for="RpcAddr" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row form-group" id="RpcPortDiv">
                        <div class="col col-md-4">
                            <label for="text-input" class="form-control-label">Rpc Port</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input type="text" id="RpcPort" asp-for="RpcPort" name="RpcPort" class="form-control">
                            <span asp-validation-for="RpcPort" class="text-danger"></span>
                        </div>
                    </div>

                    <div id="PropertySection">
                        @*@foreach (var item in Model.Properties[0].DestinationProperties)
                        {
                            <div class="row form-group">
                                <div class="col col-md-4 pr-0">
                                    <label for="text-input" class="form-control-label">@item.Name</label>
                                </div>
                                <div class="col-12 col-md-8">
                                    <input type="text" id="@(item.Name)" asp-for="@item.Name" name="@(item.Name)" class="form-control">
                                    <span asp-validation-for="@item.Name" class="text-danger"></span>
                                </div>
                            </div>
                        }*@
                    </div>


                    @*<div id="destinationDiv" class="d-none">
                        <div class="row form-group">
                            <div class="col col-md-4 pr-0">
                                <label for="text-input" class="form-control-label">Coinbase Address</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="text" id="Coinbase" asp-for="Coinbase" name="Coinbase" class="form-control">
                                <span asp-validation-for="Coinbase" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-4  pr-0">
                                <label for="text-input" class="form-control-label">Coinbase Password</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="password" id="CoinbasePassword" asp-for="CoinbasePassword" name="CoinbasePassword" class="form-control">
                                <span asp-validation-for="CoinbasePassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-4  pr-0">
                                <label for="text-input" class="form-control-label">New Account Password</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="password" id="NewAccountPassword" asp-for="NewAccountPassword" name="NewAccountPassword" class="form-control">
                                <span asp-validation-for="NewAccountPassword" class="text-danger"></span>
                            </div>

                        </div>
                    </div>*@

                    <div id="loader" class="text-secondary text-center mb-2" style="display:none"><i class="fa fa-spin fa-spinner"></i> Testing connection</div>

                    <div id="connection" class="text-danger mt-2"></div>

                </div>
            </form>
        </div>

        <div class="modal-footer">
            <div class="form-group col-md-12">

                <button type="button" class="btn btn-primary btn-sm mr-1" onclick="createValidation()">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="button" class="btn btn-primary btn-sm" onclick="closeCreateCryptoAdapterModal()">Close</button>

            </div>
        </div>
    </div>
</div>


@await Html.PartialAsync("_ValidationScriptsPartial");

<script>

    var properties = @Html.Raw(Json.Serialize(Model.Properties));

    nodeType = jQuery("#NodeType").val();

    direction = jQuery("input[name = 'direction']:checked").val();

    jQuery("#NodeType").change(function () {
        nodeType = jQuery("#NodeType").val();

        jQuery("input[name = 'direction']:checked").click();
    });

    jQuery("input[name = 'direction']").click(function () {
        direction = jQuery("input[name = 'direction']:checked").val();

        generateProperties(direction);
    });

    function generateProperties(direction) {

        jQuery("#PropertySection").html("");

        var prop = jQuery.grep(properties, function (obj) { return obj.nodeType == nodeType; })[0];

        switch (direction) {
            case "1":
                for (var item = 0; item < prop.sourceProperties.length; item++) {
                    jQuery("#PropertySection").append(generateProperty(prop.sourceProperties[item].name));
                }

                break;
            case "2":
                for (var item = 0; item < prop.destinationProperties.length; item++) {
                    jQuery("#PropertySection").append(generateProperty(prop.destinationProperties[item].name));
                }
                break;
        }

    }

    function generateProperty(name) {

        var property = `
            <div class="row form-group">
                <div class="col col-md-4 pr-0">
                    <label class="form-control-label" for="text-input">${name}</label>
                </div>
                <div class="col-12 col-md-8">
                    <input name="${name}" class="form-control" id="${name}" type="text" value="">
                    <span class="text-danger field-validation-valid" data-valmsg-replace="true" data-valmsg-for="${name}"></span>
                </div>
            </div>`;

        return property;
    }

    function closeCreateCryptoAdapterModal() {
        jQuery("#createCryptoAdapterModal").modal("hide");
        jQuery("#createCryptoAdapterContainer").html("");
    }
</script>